
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.regModuleDoubleEntry,
.regModuleLogin,
.regModuleRules,
.regModuleConfirmation,
.regModule {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.rerModuleContainer {
    position: relative;
    margin: auto!important;
    top: 20%;
    width: 35vw;
    height: 48vw;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    background: white url('/img/football.png') no-repeat 200px bottom;
    background-size: 100%;
}

.confirmationalDonsky {
    height: 23vw;
}

.regModuleFormContainer {
    position: relative;
    width: 90%;
    margin: auto!important;
    height: auto;
}

.regModuleInput {
    position: relative;
    width: 97%;
    padding: .8vw .4vw;
    font-size: 1vw;
    margin-bottom: 1vw;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
}

.widerSelect {
    width: 100%;
}

.regModuleCloseButton {
    position: absolute;
    top: -.5vw;
    font-size: 3vw;
    right: -4.5vw;
    color: white;
    cursor: pointer;
    transition: .2s;
    font-family: 'Archivo Black', sans-serif;
}

.regModuleCloseButton:hover {
    color: #F36F27;
}

.regModuleFormHeader {
    position: relative;
    width: auto;
    text-align: center;
    padding: 0 .9vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-shadow: 1px 1px white;
}

.regModuleFormHeader h2 {
    font-size: 1.1vw;
    font-weight: 400;
}

.regModuleFormHeader p {
    font-size: .7vw;
    font-weight: 300;
}

.logModuleButton,
.afterTheReg,
.regModuleButton {
    position: relative;
    margin-bottom: 1vw;
    display: inline-block;
    width: 100%;
    padding: 1.1vw 2.93vw;
    font-size: .8vw;
    font-family: 'Galano Grotesque',sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none!important;
    color: #fff!important;
    border: none;
    border-radius: .2vw;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    overflow: hidden;
    transition: .2s;
    background: #455B8E;
    -webkit-box-shadow: 2px 4px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px -4px rgba(0,0,0,0.75);
}

.okayBtnOnRegMod {
    padding: 1.1vw 4vw;
    font-size: 1.5vw;
    font-family: 'Galano Grotesque',sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff!important;
    border: none;
    border-radius: .2vw;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    overflow: hidden;
    background: #239B56;
    margin: 1vw 0;
    transition: .2s;
    -webkit-box-shadow: 2px 4px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px -4px rgba(0,0,0,0.75);
}

.okayBtnOnRegMod:hover {
    background: #27AE60;
}

.logModuleButton:hover,
.afterTheReg:hover,
.regModuleButton:hover {
    background: rgb(51,68,107);
}

.validationNote {
    position: relative;
    top: -20px;
    margin: auto!important;
    width: 10vw;
    height: 1vw;
    font-size: .7vw;
}

.actualValidationConfirmation {
    border: 1px solid #cc0000;
    color: #cc0000;
    display: none;
    border-radius: 5px;
    text-align: center;
}

.adDonsky {
    line-height: 1.4;
    margin: 3vw auto!important;
}

.notFoundError {
    position: relative;
    width: 90%;
    margin: auto!important;
    border-radius: 5px;
    height: auto;
    background: darkred;
    color: white;
    padding: .4vw 0;
    text-align: center;
    top: -4vw!important;
    display: none;
}


.regModuleRules p {
    margin: 1.5vw auto!important;
    text-align: left;
    font-size: .75vw;
    font-weight: 300;
}

.regModuleFormHeader span {
    font-size: .6vw;
    font-weight: 300;
}

.logInbutton:hover {
    text-decoration: underline;
}

.projectNavButton:hover {
    box-shadow: none;
}

.containerFooter {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    background: #454545;
}

.systemSpinner {
    position: absolute;
    width: 100%;
    height: auto;
}

.spinnerActual {
    position: relative;
    right: 5px;
    float: right;
    width: 1.8vw;
}

.cookieGrid {
    background: #F5F5F5;
}

.userCurrentPosition {
    z-index: 1;
    box-shadow: 0px 0px 20px 10px #79A7D7;
}

.dopDonsky {
    border-right: 1px solid coral;
    border-left: 1px solid coral;
}

.dopDonskyPart2 {
    border-right: 1px solid coral;
}

.regModuleClosed {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(52,73,94,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
}

.regModuleClosedBody {
    position: relative;
    width: 35vw;
    height: 20vw;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    background: white url('/img/football.png') no-repeat 200px bottom;
    background-size: 100%;
    padding: 2vw;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.35);
}

.regModuleClosedBody p {
    font-size: .8vw;
    color: black;
    font-weight: 300;
}

.regModuleClosedBody h3 {
    margin: 2vw auto!important;
    font-size: 2vw;
    font-weight: 700;
    color: #4C5B86;
    line-height: 1.2;
    text-shadow: 0px 0px 9px rgba(255,255,255,1);
}

.regModuleClosedBody a {
    color: #4C5B86;
}

.regModuleClosedBody a:hover {
    text-decoration: none;
}

.doubleEntryError {
    position: relative;
    border-radius: 5px;
    width: 40%;
    top: 10vw;
    height: auto;
    padding: 1vw;
    background: red;
    color: white;
    margin: auto!important;
    text-align: center;
}

.doubleEntryError h2 {
    margin: 2vw auto!important;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.2;
}

.doubleEntryError p {
    margin: 1.5vw auto!important;
    font-size: 1vw;
    font-weight: 300;
}

@media screen and (max-width: 1160px) {
    .rerModuleContainer {
        width: 90%;
        height: auto;
        padding: 17vw 0;
    }

    .regModuleInput {
        width: 100%;
        padding: .8vw .4vw;
        font-size: 3vw;
        -webkit-appearance: none;
    }

    .regModuleFormHeader h2 {
        font-size: 3vw;
        font-weight: 400;
    }

    .confirmationalDonsky {
        height: auto;
    }

    .regModuleClosed {
        position: absolute;
        width: 99%;
        height: 100%;
        background: rgba(52,73,94,.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 25;
    }

    .regModuleClosedBody {
        width: 80%;
        height: 30%;
        background: white url('/img/football.png') no-repeat right bottom;
        background-size: 30% auto;
    }

    .regModuleClosedBody p {
        font-size: 1.8vw;
        line-height: 1.2;
    }

    .regModuleClosedBody h3 {
        font-size: 3vw;
    }

    .regModuleFormHeader p {
        font-size: 2.5vw;
        font-weight: 300;
    }

    .logModuleButton,
    .afterTheReg,
    .regModuleButton {
        float: right;
        width: 50%;
        font-size: 3vw;
        margin: 3vw auto!important;
    }

    .regModuleCloseButton {
        top: 5px;
        font-size: 2vw;
        padding: 3vw;
        right: 5px;
        color: black;
    }

    .notFoundError {
        top: -40px;
        padding: .4vw 0;
        display: none;
        text-align: center;
    }

    .validationNote {
        position: relative;
        top: -110px;
        margin: auto!important;
        width: 30%;
        height: 1vw;
        font-size: 1.7vw;
    }

    .actualValidationConfirmation {
        border: 1px solid #cc0000;
        color: #cc0000;
        display: none;
        border-radius: 5px;
        text-align: center;
    }

    .okayBtnOnRegMod {
        font-size: 3vw;
    }

    .regModule .notFoundError {
        padding: .4vw 0;
        top: -52vw;
        display: none;
    }

    .widerSelect {
        width: 101.5%;
    }

    .doubleEntryError {
        width: 90%;
        height: auto;
        padding: 17vw 0;
    }

    .doubleEntryError h2 {
        font-size: 3vw;
    }

    .doubleEntryError p {
        font-size: 2.5vw;
        font-weight: 300;
    }
}
