
:root {
    --popup-background: black;
    --box-shadow: rgba(0,0,0.3);
    --box-color: white;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

::placeholder {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: .8vw;
}

#projectReturnContainer {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gameFormContainer {
    position: relative;
    height: auto;
    float: left;
    width: 30%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2vw;
    margin: 1vw 0;
}

.inputContainer {
    font-family: 'Comfortaa', sans-serif;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin: .5vw 0;
}

.inputContainer label {
    font-size: .8vw;
    position: relative;
    float: left;
    font-weight: 900;
}

.inputContainer .errorCode {
    position: relative;
    font-size: .8vw;
    float: right;
    color: darkred;
    font-weight: 600;
}

.inputContainer input {
    position: relative;
    padding: .5vw;
    width: 96.5%;
    border-radius: 5px;
    font-size: 1.6vw;
    font-weight: 300;
    border: 1px solid rgba(0,0,0,.3);
}

.inputContainer [type=submit] {
    position: relative;
    width: 100%;
    color: white;
    cursor: pointer;
    background: cornflowerblue;
    transition: .2s;
}

.inputContainer [type=submit]:hover {
    background: orange;
}

.errorCode {
    display: none;
}

.infoContainer {
    position: relative;
    display: none;
    top: .5vw;
    float: right;
    font-size: .8vw;
    width: 90%;
    padding: .8vw .9vw;
    background: var(--popup-background);
    color: var(--box-color);
    box-shadow: 0px 0 1px var(--box-shadow);
}
