:root {
    --popup-background: black;
    --box-shadow: rgba(0,0,0.3);
    --box-boder: rgba(0,0,0,.1);
    --box-color: rgba(255,255,255,.7);
    --headline-color: white;
    --save-button: #16A085;
    --save-button-hover: #138D75;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    background: #444961;
}

::placeholder {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: .8vw;
    color: var(--box-color);
}

#projectReturnContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.afterWraperContainer {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarContainer {
    position: relative;
    width: 19.5%;
    height: 98%;
    float: left;
    margin-right: .7vw;
    margin-left: .7vw;
    border-radius: 5px;
    color: white;
    background: #40665C;
}

.returnContainer {
    position: relative;
    color: white;
    width: 79.5%;
    height: 98%;
    float: right;
    margin-right: .7vw;
    background: rgba(215, 219, 221, .2);
    border-radius: 5px;
    overflow: auto;
}

.returnContainerHeadline {
    position: relative;
    width: 100%;
    height: 3.3vw;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: none;
    box-shadow: none;
    border: none;
}

.returnContainerHeadline span {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: auto;
    height: 100%;
    float: right;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2vw;
    color: rgba(255,255,255,.4);
}

.returnDataContainer {
    position: relative;
    color: white;
    width: 100%;
    height: 93.6%;
    float: right;
}

/* returned container dash */
.secondLevelParent {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    float: left;
}

.quetionsGroupCategories {
    position: relative;
    width: 20vw;
    height: auto;
    padding: 1vw;
    margin: .3vw;
    background: #444961;
    border-radius: 5px;
}
/* returned container dash */

.dynamicMenuContainer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1vw 0;
    float: left;
    font-size: 2vw;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cmsLogtypeConatiner {
    position: relative;
    width: 100%;
    height: 3.3vw;
    float: left;
    font-size: 3vw;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #D6BD6B;
    color: #40665C;
    box-shadow: none;
    border: none;
}

.dynamicMenuContainer span,
.cmsLogtypeConatiner span, ul {
    position: relative;
    left: .8vw;
}

.dynamicMenuContainer span {
    font-size: .8vw;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 900;
}

.navigationControlsContainer {
    position: relative;
    width: 100%;
    height: auto;
    font: left;
}

.navigationControlsContainer div {
    margin: 0 .1vw;
}

.navigationControlsContainer div span {
    position: relative;
    left: 0vw;
    color: #40665C;
    padding: .1vw .9vw;
    width: 10vw;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.seeDashFunction {
    position: relative;
    width: auto;
    height: auto;
    float: right;
    display: flex;
    justify-content: end;
    align-items: end;
}

.addNewGroupToDropdown,
.addQuestionContainer {
    position: relative;
    width: auto;
    height: auto;
    float: right;
    display: flex;
    justify-content: end;
    align-items: end;
}

.addNewGroupToDropdown button,
.seeDashFunction button,
.addQuestionContainer button {
    border: none;
    background: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: .2s;
    cursor: pointer;
    padding: .1vw .2vw;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.4);
}

#backButton {
    position: relative;
    font-size: 1vw;
    top: .78vw;
    right: 1vw;
    float: right;
    width: auto;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: .2s;
}

.questionBodyContainer {
    position: relative;
    width: 100%;
    display: flex;
    float: left;
}

#deleteQuestion {
    position: absolute;
    top: .32vw;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteQuestion input {
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    transition: .2s;
}

/* NAVIGATION */
.dynamicMenuContainer ul {
    position: relative;
    width: 90%;
    height: auto;
    float: left;
    list-style: none;
}

.dynamicMenuContainer li {
    font-size: .9vw;
    font-weight: 300;
    margin: .2vw 0;
    cursor: pointer;
    color: var(--box-color);
    transition: .2s;
}

.addNewGroupToDropdown button:hover,
.seeDashFunction button:hover,
.addQuestionContainer button:hover {
    background: #D6BD6B;
    border: 1px solid #D6BD6B;
    color: #40665C;
}

.activeAddButton {
    background: #D6BD6B!important;
    border: 1px solid #D6BD6B!important;
    color: #40665C!important;
}

#backButton:hover,
.dynamicMenuContainer li:hover {
    color: #D6BD6B;
}

.navigationActive {
    color: #D6BD6B!important;
}

.questionBody [type=image]:hover,
#deleteQuestion input:hover {
    transform: scale(1.6);
}

.sideBarContainer:after {
    content: '\00A9';
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5vw;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: .5vw;
    color: var(--box-color);
}
/* NAVIGATION */

/* TRIVIA QUESTION MODULE */
.triviaQuestionContainer {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    padding: .7vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Comfortaa', sans-serif;
}

.triviaQuestionBody {
    position: relative;
    width: 45%;
    height: auto;
    float: left;
    padding: .1vw;
}

.questionContainer {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    padding: 1vw;
    border-radius: 5px;
    background: #444961;
    border: 1px solid var(--box-boder);
    box-shadow: 2px 2px 0 var(--box-boder);
    margin: .4vw 0;
}

.quetionsGroupCategories h2,
.questionContainer h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.questionBody label,
.questionContainer label {
    position: relative;
    width: 20%;
    height: auto;
    float: left;
    font-size: .5vw;
    font-weight: 800;
    margin-bottom: .3vw;
    color: var(--headline-color);
    text-transform: uppercase;
}

.questionBody .errorCode {
    font-family: 'Comfortaa', sans-serif;
    position: relative;
    width: 78%;
    float: right;
    text-align: right;
    height: auto;
    color: pink;
    font-size: .5vw;
    font-weight: 300;
}

.questionBody {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    margin: .2vw 0;
}

.questionBody [type=text] {
    position: relative;
    width: 80%;
    float: left;
    height: auto;
    font-size: 1.2vw;
    padding: .3vw;
    border-radius: 5px;
    border: 1px solid var(--box-boder);
    background: rgba(255,255,255,.1);
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

.questionBody select {
    position: relative;
    width: 100%;
    float: left;
    height: auto;
    font-size: 1.2vw;
    padding: .3vw;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
    color: white;
    border: 1px solid var(--box-boder);
    font-family: 'Comfortaa', sans-serif;
}

.questionBody .saveMethod {
    position: relative;
    width: 40%;
    float: right;
    height: auto;
    margin: .2vw 0;
}

.deleteCategoryQuestions {
    position: relative;
    float: right;
    width: 2.5vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionBody [type=image] {
    width: 1.5vw;
    height: 1.5vw;
    transition: .2s;
    cursor: pointer;
}

.saveMethod {
    position: relative;
    width: 10vw;
    float: right;
    height: auto;
    padding: .3vw;
    margin-top: .5vw;
    border-radius: 5px;
    background: var(--save-button);
    font-family: 'Comfortaa', sans-serif;
    transition: .2s;
}

.saveMethod button {
    position: relative;
    padding: .3vw;
    border-radius: 5px;
    width: 10vw;
    font-size: .8vw;
    border: none;
    color: white;
    background: none;
    cursor: pointer;
}

.questionBody .winner {
    position: relative;
    width: 3.5vw;
    float: right;
    height: auto;
    padding: .4vw;
    border-radius: 5px;
    background: var(--box-boder);
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: .6vw;
    cursor: pointer;
    transition: .2s;
}

.errorPopup {
    position: absolute;
    right: -9vw;
    top: 8vw;
    width: 6vw;
    height: auto;
    padding: 1vw;
    border-radius: 5px;
    background: pink;
    font-size: .8vw;
    color: #444961;
    box-shadow: 2px 2px 0 var(--box-boder);
    display: none;
}

.questionBody .topWinner {
    color: white;
    background: #DA8E42;
}

.questionBody .winner:hover {
    color: white;
    background: #DA8E42;
}

.coverUp .winner .save:hover,
.saveMethod:hover {
    color: white;
    background: var(--save-button-hover);
}
/* TRIVIA QUESTION MODULE */

/* add group container */
.questionBodyaddGroup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #444961;
    border: 1px solid var(--box-boder);
    display: flex;
    justify-content: center;
    align-content: center;
}

.closePopupContainer {
    position: absolute;
    width: 100%;
    height: auto;
}

.closePopupContainer span {
    position: relative;
    padding: .3vw;
    float: right;
    width: 1vw;
    height: 1vw;
    font-size: 1.2vw;
    cursor: pointer;
    z-index: 10;
}

.coverUp {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coverUp label {
    position: relative;
    float: left;
    width: 80%;
}

.coverUp input {
    position: relative;
    width: 80%;
    float: left;
    height: auto;
    font-size: 1.2vw;
    padding: .3vw;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
    color: white;
    border: 1px solid var(--box-boder);
    font-family: 'Comfortaa', sans-serif;
}

.coverUp .winner {
    position: relative;
    height: auto;
    float: left;
    margin: .4vw 0;
}

.questionBodyaddGroup .errorCode {
    position: relative;
    height: auto;
    color: pink;
    font-size: .5vw;
    font-weight: 800;
}

.coverUp .winner .save {
    position: relative;
    width: 10vw;
    float: right;
    height: auto;
    padding: .3vw;
    margin-top: .5vw;
    border-radius: 5px;
    color: white;
    border: none;
    background: var(--save-button);
    font-family: 'Comfortaa', sans-serif;
    transition: .2s;
    cursor: pointer;
}
/* add group container */

/* confirmational popup */
.confirmationalPopup {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    width: auto;
    height: auto;
    box-shadow: 2px 0 0 black;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,.1);
    display: none;
}

.popupBodyContainer {
    position: relative;
    float: left;
    padding: 1vw;
    border-radius: 5px;
    background: var(--save-button);
    color: var(--headline-color);
}
/* confirmational popup */
